@import "config";
@import "menu";

@font-face {
  font-family: "EB Garamond";
  src: url("../font/garamond.woff") format("woff"),
    url("../font/garamond.woff2") format("woff2"),
    url("../font/garamond.svg#filename") format("svg");
}

$fontSize: 350;
* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $background-color;
  color: set-text-color($background-color);
  height: 100%;
  margin: 0;
  font-family: "EB Garamond";
  //font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: $fontSize;
  &.lg-heading {
    color: set-text-color($background-color);
    font-size: 3rem; // pixel-size multiplier
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($background-color, 2), 0.5); // cool method
  }
}

a {
  color: $secondary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px); //60px is currently the height of the footer.

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $hover-color;
        @include easeOut(); //calls the effect defined at the top.
      }
    }
  }

  &#home {
    overflow: hidden; //hides scrollbars
    h1 {
      margin-top: 20vh; //vw gibt's auch
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr; //could also: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Projects Site
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%; //sets the image sizes to the container
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex; //try the same thing with boxes
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    //The blocks themselves
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2, 5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &.hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: set-text-color($primary-color);
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: set-text-color(lighten($primary-color, 50)); // Needs improvement.
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darnek($primary-color 10);
  color: set-text-color($primary-color);
  height: 60px;
}
@import "mobile";
